@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nerko One";
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
